/* theme for dev.css v4, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: theme for Additive's SkywardMC page */

:root[data-style="additive"] {
	--dc-cs: light dark;
	--dc-tx-1: light-dark(hsl(0, 0%, 0%), hsl(5, 60%, 90%));
	--dc-tx-2: light-dark(hsl(0, 0%, 0%), hsl(5, 60%, 90%));
	--dc-bg-1: light-dark(hsl(5, 20%, 95%), hsl(5, 20%, 5%));
	--dc-bg-2: light-dark(hsl(5, 20%, 90%), hsl(5, 20%, 10%));
	--dc-bg-3: light-dark(hsl(5, 20%, 80%), hsl(5, 20%, 20%));
	--dc-lk-1: light-dark(hsl(5, 60%, 30%), hsl(5, 60%, 70%));
	--dc-lkb-1: light-dark(hsl(5, 10%, 80%), hsl(5, 10%, 20%));
	--dc-lkb-2: light-dark(hsl(5, 10%, 60%), hsl(5, 10%, 40%));
	--dc-lkb-tx: light-dark(hsl(0, 0%, 0%), hsl(5, 60%, 90%));
	--dc-ac-1: light-dark(hsl(5, 60%, 30%), hsl(5, 60%, 70%));
	--dc-ac-tx: light-dark(hsl(5, 20%, 95%), hsl(5, 20%, 5%));
}
