:root[data-style="adrenaline"] {
	--dc-cs: light dark;
	--dc-tx-1: light-dark(hsl(0, 0%, 0%), hsl(150, 60%, 90%));
	--dc-tx-2: light-dark(hsl(0, 0%, 0%), hsl(150, 60%, 90%));
	--dc-bg-1: light-dark(hsl(150, 20%, 95%), hsl(150, 20%, 5%));
	--dc-bg-2: light-dark(hsl(150, 20%, 90%), hsl(150, 20%, 10%));
	--dc-bg-3: light-dark(hsl(150, 20%, 80%), hsl(150, 20%, 20%));
	--dc-lk-1: light-dark(hsl(150, 60%, 30%), hsl(150, 60%, 70%));
	--dc-lkb-1: light-dark(hsl(150, 10%, 80%), hsl(150, 10%, 20%));
	--dc-lkb-2: light-dark(hsl(150, 10%, 60%), hsl(150, 10%, 40%));
	--dc-lkb-tx: light-dark(hsl(0, 0%, 0%), hsl(150, 60%, 90%));
	--dc-ac-1: light-dark(hsl(150, 60%, 30%), hsl(150, 60%, 70%));
	--dc-ac-tx: light-dark(hsl(150, 20%, 95%), hsl(150, 20%, 5%));
}
