---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="The page wasn't found.">
	<div class="prose dark:prose-invert max-w-full">
		<h1>404</h1>
		<p>
			This page doesn't exist. It was likely moved or never existed. Would you
			like to go back <a href="/">home</a>?
			<img
				src="https://http.cat/404"
				alt="Funny cat picture with 404"
				class="rounded-xs"
			/>
		</p>
	</div>
</Layout>
