---
import Layout from "../layouts/Layout.astro";
import ProjectHero from "../components/ProjectHero.astro";
import GitHubUser from "../components/GitHubUser.astro";
---

<Layout
	title="Additive"
	description="Additive is a simple, modern, open-source alternative to OptiFine."
	style="additive"
>
	<ProjectHero
		logo="/branding/additive/text-logo.svg"
		alt="Additive"
		logoHeight="h-20"
		background="/branding/additive/background.svg"
		mainLinks={[
			{
				href: "/additive/installation",
				icon: "lucide:download",
				label: "Install",
			},
			{
				href: "/additive/installation",
				icon: "lucide:book",
				label: "Wiki",
			},
			{
				href: "https://github.com/skywardmc/additive/issues",
				icon: "lucide:circle-dot",
				label: "Issues",
			},
		]}
		socialLinks={[
			{
				href: "https://modrinth.com/project/additive",
				icon: "simple-icons:modrinth",
				label: "Modrinth",
			},
			{
				href: "https://github.com/skywardmc/additive",
				icon: "simple-icons:github",
				label: "GitHub",
			},
		]}
	>
		A modern, open-source alternative to OptiFine for Fabric
	</ProjectHero>
	<section class="prose prose-skywardmc dark:prose-invert max-w-full">
		<p>
			Additive is a modpack, developed for Fabric, designed as an alternative to
			OptiFine. It includes the majority of OptiFine's features, such as
			built-in shader support, a vast improvement in rendering and logic
			performance, extra features for resource packs to utilize, a zoom feature,
			OptiFine and custom capes support, and <a
				href="/additive/optifine-features">much more</a
			>. It also includes a small amount of <a href="/additive/extra-features"
				>extra features</a
			>, such as input fixes for MacOS and Linux along with a free and
			easy-to-use world hosting feature.
		</p>
		<p>
			This modpack is built and kept in sync with our other project, <a
				href="/adrenaline">Adrenaline</a
			>, a lighter alternative without the quality-of-life mods. Want your own
			mods that aren't included in Additive? Don't worry! You can easily add
			your favorite mods after installation.
		</p>
		<p>
			For more information, read through Additive's <a
				href="https://modrinth.com/project/Additive">Modrinth</a
			> page.
		</p>
	</section>
	<p class="mt-4 text-sm flex items-center justify-end gap-1">
		Maintained by <GitHubUser user="intergrav" class="font-bold" />
	</p>
</Layout>
