---
import Layout from "../layouts/Layout.astro";
import ProjectHero from "../components/ProjectHero.astro";
---

<Layout
	title="Additive"
	description="Additive is a simple, modern, open-source alternative to OptiFine."
	style="additive"
>
	<ProjectHero
		logo="/branding/additive/text-logo.svg"
		alt="Additive"
		logoHeight="h-20"
		background="/branding/additive/background.svg"
		mainLinks={[
			{
				href: "/additive/installation",
				icon: "lucide:download",
				label: "Install",
			},
			{
				href: "/additive/installation",
				icon: "lucide:book",
				label: "Wiki",
			},
			{
				href: "https://github.com/skywardmc/additive/issues",
				icon: "lucide:circle-dot",
				label: "Issues",
			},
		]}
		socialLinks={[
			{
				href: "https://modrinth.com/project/additive",
				icon: "simple-icons:modrinth",
				label: "Modrinth",
			},
			{
				href: "https://github.com/skywardmc/additive",
				icon: "simple-icons:github",
				label: "GitHub",
			},
		]}
	>
		A simple, modern, open-source alternative to OptiFine
	</ProjectHero>
	<div class="prose prose-skywardmc dark:prose-invert max-w-full">
		<p>
			Additive is a simple, modern, open-source alternative to OptiFine. It has
			basically every feature from OptiFine, including:
		</p>
		<ul>
			<li>Major FPS and logic performance improvements</li>
			<li>Built-in shader pack support</li>
			<li>Extra resource pack features, e.g. CIT</li>
			<li>Camera zoom to see further</li>
			<li>Dynamic lighting with items</li>
			<li>Better grass and snow</li>
			<li>
				OptiFine donator capes (and <a href="/additive/supporter-cape"
					>free capes</a
				>)
			</li>
			<li>
				Other features <a href="/additive/optifine-features">listed here</a>
			</li>
		</ul>
		<p>There are also these extra features included:</p>
		<ul>
			<li>
				Free, simple world hosting<ul>
					<li>
						Simply click "Open Externally" in the menu of your world and you'll
						get a shareable IP
					</li>
				</ul>
			</li>
			<li>
				Modularity<ul>
					<li>
						Lets you disable features that are incompatible with other mods or
						features you dislike
					</li>
				</ul>
			</li>
			<li>Fast updates</li>
			<li>Other features <a href="/additive/extra-features">listed here</a></li>
		</ul>
		<p>
			For more information, read through Additive's <a
				href="https://modrinth.com/project/Additive">Modrinth</a
			> page.
		</p>
		<h2>Installation</h2>
		<p>
			If you want to install Additive, see the <a href="/additive/installation"
				>Additive/Installation</a
			> page.
		</p>
	</div>
</Layout>
