---
import Layout from "../layouts/Layout.astro";
import ProjectHero from "../components/ProjectHero.astro";
---

<Layout
	title="Adrenaline"
	description="Adrenaline is a lightweight Minecraft modpack that heavily improves FPS and logic performance through various optimization mods."
	style="adrenaline"
>
	<ProjectHero
		logo="/branding/adrenaline/text-logo.svg"
		alt="Adrenaline"
		logoHeight="h-24"
		background="/branding/adrenaline/background.svg"
		mainLinks={[
			{
				href: "/adrenaline/installation",
				icon: "lucide:download",
				label: "Install",
			},
			{
				href: "/adrenaline/installation",
				icon: "lucide:book",
				label: "Wiki",
			},
			{
				href: "https://github.com/skywardmc/adrenaline/issues",
				icon: "lucide:circle-dot",
				label: "Issues",
			},
		]}
		socialLinks={[
			{
				href: "https://modrinth.com/project/adrenaline",
				icon: "simple-icons:modrinth",
				label: "Modrinth",
			},
			{
				href: "https://github.com/skywardmc/adrenaline",
				icon: "simple-icons:github",
				label: "GitHub",
			},
		]}
	>
		A lightweight, open-source performance modpack for Fabric
	</ProjectHero>

	<section class="prose prose-skywardmc dark:prose-invert max-w-full">
		<p>
			Adrenaline is a client-side or server-side modpack, developed for Fabric,
			comprised of the best combination of mods (e.g. Sodium and Lithium, along
			with many more) that significantly improves rendering performance, logic
			performance, memory usage, and more - all without compromising on the
			game's vanilla looks and features!
		</p>
		<p>
			It is designed to be simple and not include any quality-of-life mods,
			along with not including redundant performance mods. Because of this
			simplicity, the modpack is compatible with a very wide range of devices
			and can be updated to the latest versions very quickly. Want more
			features? No problem! Adrenaline serves as a great foundation for
			performance - simply add your favorite mods on top.
		</p>
		<p>
			For the list of mods that are included, see this <a
				href="/adrenaline/performance-features">wiki page</a
			>. Adrenaline can be installed on both clients and servers, so this list
			tells you what is installed depending on the environment.
		</p>
		<p>
			For more information, read through Adrenaline's <a
				href="https://modrinth.com/project/Adrenaline">Modrinth</a
			> page.
		</p>
	</section>
</Layout>
