---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Drill"
	description="Drill is a simple, modern, open-source alternative to OptiFine for (Neo)Forge."
	style="drill"
>
	<img
		alt="Drill logo"
		src="https://raw.githubusercontent.com/skywardmc/art/refs/heads/main/drill/logo_vector.svg"
		class="not-prose ms-4 float-end size-24 sm:size-32 rounded-sm"
	/>
	<div class="prose dark:prose-invert max-w-full">
		<p>
			Drill is a simple, modern, open-source alternative to OptiFine for
			(Neo)Forge.
		</p>
		<p>
			This project is a port of <a href="/additive">Additive</a> to (Neo)Forge. It
			uses
			<a href="https://sinytra.org/">Sinytra</a> along with native Forge ports.
		</p>
		<p>
			Drill's wiki is currently a work-in-progress. For more information, read
			through Drill's <a href="https://modrinth.com/project/drill">Modrinth</a> page.
		</p>
	</div>
</Layout>
