---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Hammer"
	description="Hammer is a lightweight Minecraft modpack for (Neo)Forge that heavily improves FPS and logic performance through various optimization mods."
	style="hammer"
>
	<img
		alt="Hammer logo"
		src="https://raw.githubusercontent.com/skywardmc/art/refs/heads/main/hammer/logo_vector.svg"
		class="not-prose ms-4 float-end size-24 sm:size-32 rounded-sm"
	/>
	<div class="prose dark:prose-invert max-w-full">
		<p>
			Hammer is a lightweight, open-source modpack for (Neo)Forge that
			significantly improves Minecraft render and logic performance through
			various different mods and configurations.
		</p>
		<p>
			This project is a port of <a href="/adrenaline">Adrenaline</a> to (Neo)Forge.
			It uses <a href="https://sinytra.org/">Sinytra</a> along with native Forge ports.
		</p>
		<p>
			Hammer's wiki is currently a work-in-progress. For more information, read
			through Hammer's <a href="https://modrinth.com/project/hammer">Modrinth</a
			> page.
		</p>
	</div>
</Layout>
