---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy" description="Privacy policy for skywardmc.org">
	<div class="prose dark:prose-invert max-w-full">
		<h1>Privacy</h1>
		<p>This is a static website deployed on Cloudflare Pages.</p>
	</div>
</Layout>
