<div class="AdditiveInstallerCard">
	<div>
		<p>Additive Installer</p>
		<p>
			<a href="https://github.com/skywardmc/additive-installer/releases/v1.0.5"
				>v1.0.5</a
			> - <a
				href="https://github.com/skywardmc/additive-installer/commit/bf002f0dc00b244995b3816f49acd3182854f1ca"
				>bf002f0</a
			>
		</p>
	</div>
	<a
		href="https://github.com/skywardmc/additive-installer/releases/download/v1.0.5/additive-installer-1.0.5.jar"
		><button>Download</button></a
	>
</div>
