---
import { execSync } from "child_process";
import IconLink from "./IconLink.astro";

let commitHash = "unknown";
try {
	commitHash = execSync("git rev-parse HEAD").toString().trim();
} catch {}
---

<footer class="flex flex-wrap gap-4 justify-between px-2 sm:px-4 text-sm">
	<nav class="flex flex-wrap gap-4">
		<IconLink
			href="https://modrinth.com/organization/skywardmc"
			icon="simple-icons:modrinth"
		>
			<span class="max-sm:hidden">Modrinth</span>
		</IconLink>
		<IconLink href="/discord" icon="simple-icons:discord">
			<span class="max-sm:hidden">Discord</span>
		</IconLink>
		<IconLink
			href="https://matrix.to/#/#skywardmc:skywardmc.org"
			icon="simple-icons:matrix"
		>
			<span class="max-sm:hidden">Matrix</span>
		</IconLink>
		<IconLink href="https://github.com/skywardmc" icon="simple-icons:github">
			<span class="max-sm:hidden">GitHub</span>
		</IconLink>
	</nav>
	<nav class="flex flex-wrap gap-4">
		<IconLink
			href={`https://github.com/skywardmc/skywardmc.org/commit/${commitHash}`}
			icon="lucide:hash"
		>
			<span class="max-sm:hidden"><code>{commitHash.slice(0, 7)}</code></span>
		</IconLink>
		<IconLink href="/privacy" icon="lucide:cookie">
			<span class="max-sm:hidden">Privacy</span>
		</IconLink>
	</nav>
</footer>
