---
interface Props {
	user: string;
	class?: string;
}

const { user, class: className } = Astro.props;
---

<a
	href={`https://github.com/${user}`}
	class:list={["inline-flex gap-1 items-center hover:underline", className]}
>
	<img
		src={`https://github.com/${user}.png?size=64`}
		alt={user}
		class="w-4 h-4 rounded-full"
	/>
	<span>{user}</span>
</a>
