<header class="max-w-5xl w-full mx-auto px-4 sm:px-6">
	<div class="flex items-center gap-1">
		<img
			src="/branding/skywardmc/logo.svg"
			alt="SkywardMC Logo"
			class="h-6 rounded-full"
		/>
		<h1
			class="font-title font-bold text-skywardmc-black dark:text-skywardmc-white pt-0.5"
		>
			SkywardMC
		</h1>
	</div>
</header>
