---
import BaseLayout from "./BaseLayout.astro";

const { title, description, style = "skywardmc" } = Astro.props;
---

<BaseLayout title={title} description={description} style={style}>
	<section
		class="p-6 px-4 sm:px-6 sm:mx-2 sm:rounded-sm bg-skywardmc-white dark:bg-skywardmc-black sm:dark:bg-skywardmc-gray"
		data-pagefind-body
	>
		<h1 class="sr-only" data-pagefind-meta="title">{title}</h1>
		<slot />
	</section>
</BaseLayout>
