---
import { Icon } from "astro-icon/components";
import BaseLayout from "./BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";

const { frontmatter } = Astro.props;
const { title, description, style = "skywardmc" } = frontmatter;
---

<BaseLayout
	title={`${title} - ${style.charAt(0).toUpperCase() + style.slice(1)}`}
	description={description}
	style={style}
>
	<a href="#sidebar" class="text-2xl md:hidden" slot="header-end">
		<Icon
			name="lucide:square-menu"
			class="text-skywardmc-black dark:text-skywardmc-white"
		/>
	</a>
	<div class="sm:mx-2 flex flex-col gap-2 md:gap-0 md:flex-row">
		<section
			class="flex-1 w-full py-6 px-4 sm:px-6 sm:rounded-sm md:rounded-none md:rounded-l-sm bg-skywardmc-white dark:bg-skywardmc-black sm:dark:bg-skywardmc-gray"
		>
			<div
				data-pagefind-body
				class="prose dark:prose-invert max-w-full wrap-break-word prose-img:w-full prose-img:rounded-xs"
			>
				<h1 data-pagefind-meta="title">{title}</h1>
				<slot />
			</div>
		</section>
		<Sidebar />
	</div>
</BaseLayout>
